<div id="mobile-menu" class="md:hidden hidden" aria-hidden="true">
    <div class="px-2 pt-2 pb-3 space-y-2 sm:px-3 bg-white">
        {% if user.is_authenticated %}
        <div class="w-full primary-gradient text-center text-white p-1 rounded-md">
            <i class="ri-user-line"></i> {{ user.username }}
        </div>
        <hr class="border-gray-200">
        <a href="{% url 'media.upload' %}"
           class="tw flex items-center px-4 py-2 rounded-lg text-gray-800 hover:text-blue-600 transition">
            <i class="ri-upload-line mr-2 text-xl"></i> Upload
        </a>
        <a href="{% url 'media.my_content' %}"
           class="tw flex items-center px-4 py-2 rounded-lg text-gray-800 hover:text-green-600 transition">
            <i class="ri-folder-line mr-2 text-xl"></i> My Content
        </a>
        <hr class="border-gray-200">
        <a href="{% url 'account_reset_password' %}"
           class="tw flex items-center px-4 py-2 rounded-lg text-gray-800 hover:text-indigo-600 transition">
            <i class="ri-lock-line mr-2 text-xl"></i> Reset Password
        </a>
        <a href="{% url 'account_email' %}"
           class="tw flex items-center px-4 py-2 rounded-lg text-gray-800 hover:text-indigo-600 transition">
            <i class="ri-mail-line mr-2 text-xl"></i> Update Email
        </a>
        <a href="{% url 'user.delete' %}"
           class="tw flex items-center px-4 py-2 rounded-lg text-gray-800 hover:text-indigo-600 transition">
            <i class="ri-delete-bin-line mr-2 text-xl"></i> Delete profile
        </a>
        <hr class="border-gray-200">
        <a href="{% url 'account_logout' %}"
           class="tw flex items-center px-4 py-2 rounded-lg text-gray-800 hover:text-red-600 transition">
            <i class="ri-logout-box-line mr-2 text-xl"></i> Logout
        </a>
        {% else %}
        <a href="{% url 'account_login' %}"
           class="tw flex items-center px-4 py-2 rounded-lg text-gray-800 hover:text-blue-600 transition">
            <i class="ri-login-box-line mr-2 text-xl"></i> Login
        </a>
        <a href="{% url 'account_signup' %}"
           class="tw flex items-center px-4 py-2 rounded-lg text-gray-800 hover:text-green-600 transition">
            <i class="ri-user-add-line mr-2 text-xl"></i> Sign Up
        </a>
        {% endif %}
    </div>
</div>
