{% extends "core/layout.html" %}
{% block content %}
<div>

    <h2 class="text-2xl font-bold mb-6 text-gray-800">Create Content</h2>

    {% if error %}
    <div class="bg-red-100 text-red-700 p-3 rounded-lg mb-4">
        {{ error }}
    </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data" class="space-y-4">
        {% csrf_token %}

        <!-- Platform -->
        <div>
            <label class="block text-sm font-medium text-gray-700 mb-1">Platform</label>
            <select name="site"
                    class="w-full border rounded-lg px-3 py-2 focus:ring-2 focus:ring-blue-500">
                {% for site in sites%}
                <option value="{{site}}"   {% if form_data.site == site %}selected{% endif %}>
                {{site}}
                </option>
                {% endfor %}
            </select>
        </div>

        <!-- Site Username -->
        <div>
            <label class="block text-sm font-medium text-gray-700 mb-1">Account Username</label>

            <select name="social_account_id"
                    class="w-full border rounded-lg px-3 py-2" required>

                <option value="">Select account</option>

                {% for account in social_accounts %}
                <option value="{{ account.id }}"
                        {% if selected_account_id == account.id %}selected{% endif %}>
                    [{{account.site}}] {{ account.username }}
                </option>
                {% endfor %}

            </select>
        </div>

        <!-- Title -->
        <div>
            <label class="block text-sm font-medium text-gray-700 mb-1">Title</label>
            <input type="text"
                   name="title"
                   value="{{ form_data.title|default:'' }}"
                   class="w-full border rounded-lg px-3 py-2 focus:ring-2 focus:ring-blue-500">
        </div>

        <!-- Caption / Content -->
        <div>
            <label class="block text-sm font-medium text-gray-700 mb-1">Caption / Content</label>
            <textarea name="content"
                      required
                      rows="4"
                      class="w-full border rounded-lg px-3 py-2 focus:ring-2 focus:ring-blue-500"
                      required>{{ form_data.content|default:'' }}</textarea>
        </div>

        <!-- Timezone -->
        <div>
            <label class="block text-sm font-medium text-gray-700 mb-1">Timezone</label>
            <select name="timezone"
                    class="w-full border rounded-lg px-3 py-2 focus:ring-2 focus:ring-blue-500">
                {% for tz in timezones %}
                <option value="{{ tz }}"
                        {% if form_data.timezone == tz %}selected{% endif %}>
                    {{ tz }}
                </option>
                {% endfor %}
            </select>
        </div>

       <!-- Group -->
        <div>
            <label class="block text-sm font-medium text-gray-700 mb-1">Group</label>
            <input type="text"
                   name="group"
                   value="{{ form_data.group|default:'' }}"
                   class="w-full border rounded-lg px-3 py-2 focus:ring-2 focus:ring-blue-500">
        </div>


        <!-- File Upload -->
        <div>
            <label class="block text-sm font-medium text-gray-700 mb-1">Upload File</label>
            <input type="file"
                   required
                   name="file"
                   class="w-full border rounded-lg px-3 py-2 bg-white">
        </div>

        <!-- Submit -->
        <button type="submit"
                class="w-full bg-blue-600 text-white py-2 rounded-lg font-semibold hover:bg-blue-700 transition">
            Save Content
        </button>

    </form>
</div>
{% endblock content %}
